* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "eight eight eight"
    "two two three"
    "four five five"
    "six five five"
    "seven five five"
    "one one one";
  gap: 10px;
}
.grid div {
  background-color: rgb(0, 132, 255);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  grid-area: one;
  order: 8;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
  order: 1;
}
