* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Mobile Screens */

@media (max-width: 767px) {
  .Parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .Parent > div {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }
  .Title {
    font-size: 14px;
    font-weight: bold;
  }
  .txt {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin: 5px;
  }
}

/* Small Screens */

@media (min-width: 768px) {
  .Parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .Parent > div {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }
  .Title {
    font-size: 14px;
    font-weight: bold;
  }
  .txt {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin: 5px;
  }
}

/* Medium Screens */

@media (min-width: 992px) and (max-width: 1199px) {
  .Parent {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "header header header" " side_l  side_r  foot";
  }
  .card1 {
    grid-area: header;
  }
  .card2 {
    grid-area: side_l;
  }
  .card3 {
    grid-area: side_r;
  }
  .card4 {
    grid-area: foot;
  }
  .Parent > div {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }
  .Title {
    color: rgb(109, 24, 29);
    font-size: 14px;
    font-weight: bold;
  }
  .txt {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin: 5px;
  }
}
/* Large Screens */

@media (min-width: 1200px) {
  .Parent {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(3,1fr) ;
  }
  .card1 {
grid-column: span 6;    
  }
  .card2 {
    grid-column: span 3;    
}
  .card3 {
    grid-column: span 3;    

  }
  .card4 {
    grid-column: span 6;    

  }
  .Parent > div {
   
    padding: 20px;
    text-align: center;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }
  .Title {
    color: rgb(0, 187, 153);
    font-size: 14px;
    font-weight: bold;
  }
  .txt {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin: 5px;
  }
}
